@page
@model Catron_Computer_Technology.Pages.administrativeTools.AddProductModel
@{
}

<button type="submit" id="testButton">Test</button>
<a id="downloadAnchorElem">Download Json</a>
<script type="module" src="~/js/addProduct.js"></script>
